body, div {
  box-sizing: border-box;
  background-color: #181A1B;
  color: #e8e6e3;  
  box-sizing: border-box;
}

h2 {
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    width: 100%;
}

h2:hover {
    color: orange;
}

div#container {
    /* display: flex; */
    position: relative;
}

div#d1 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 99vw;
    flex-wrap: wrap;
}

img {
    transition: all 0.5s ease;
    width: 50%;
    display: block;
    margin: 0 auto;
}

img:hover {
    transform: rotate(-30deg);
}

.hidden {
    position: absolute;
    display: flex;
    background-image: url(./versus.jpg);
    background-size: 100%;
    background-position: center;
    height: 200px;
    width: 300px;
    /* display: none; */
    border-radius: 10%;
    align-items: center;
}

.hidden img {
    width: 100%;
}

#hidden {
    position: absolute;
    width: 99vw;
    display: flex;
    justify-content: center;
    display: none;
    bottom: 0;
}

#win, #lost, #draw {
    position: absolute;
    bottom: -100px;
    width: 100px;
    text-align: center;
    display: none;
    margin: 10px 0;
    color: orange;
    background-color: rgb(0,0,0,0.1);
}

#win h2, #lost h2, #draw h2 {
    font-size: 30px;
}

@media screen and (min-width: 800px) {
    .hidden {
        position: absolute;
        display: flex;
        background-image: url(./versus.jpg);
        background-size: 100%;
        background-position: center;
        height: 300px;
        width: 800px;
        border-radius: 10%;
    }

    h2 {
        font-size: 40px;
    }

    #win, #lost, #draw {
        bottom: -130px;
        background-color: initial;

    }

    #win h2, #lost h2, #draw h2 {
        font-size: 40px;
    }

    #hidden {
        position: absolute;
        width: 99vw;
        display: flex;
        justify-content: center;
        display: none;
        bottom: initial;
    }
    img {
        transition: all 0.5s ease;
        width: 100%;
    }
}